@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Syncopate:wght@700&display=swap');

:root {
  --blue: hsl(200, 75%, 40%);
  --liteBlue: hsl(200, 70%, 80%);
  --green: hsl(160, 100%, 35%);
  --greenGrad: linear-gradient(135deg, lime, var(--green));
  --mainFont: 'Freckle Face', sans-serif;
  --faintShadow: hsla(0,0%,0%,0.05);
}

html, body, #root {
  height: 100%; 
}

.App {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* align-items: center; */
  background-color: var(--liteBlue);
  text-align: center;
}

h1, h2 {
  font-family: var(--mainFont);
  color:hsl(160, 100%, 35%)
}

h1 {
  text-transform: uppercase;
  /* font-variant: small-caps; */
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 0 var(--faintShadow);
}

header, footer {
  padding: 2rem;
}

header {
  background-color: var(--blue);
}

header h1 {
  color: var(--liteBlue);
  text-shadow: 2px 2px 0 var(--faintShadow);
}

footer {
  background-color: var(--blue);
}

main {
  align-self: center;
  display: flex;
  flex-direction: column;
}

button {
  appearance: none;
  cursor: pointer;
}

#user-form {
  margin-block: 2rem;
  padding: 2rem;
  /* background-image: var(--greenGrad); */
  border: 2px solid var(--green);
  border-radius: 10px;
  box-sizing: border-box;
}

#user-form input,
#user-form select {
  appearance: none;
  padding: 1rem;
  background-color: transparent;
  caret-color: var(--green);
  text-align: center;
  outline: none;
  border: 2px solid var(--green);
  border-radius: 5px;
}

::selection {
  background-color: hsla(0,0%,0%,0.1);
}

#user-form label {
  display: block;
  margin-bottom: 2rem;
}

#user-form label p {
  margin: 0;
  margin-bottom: 0.5em;
  color: var(--blue);
  text-align: left;
}

#user-form #user-dob div {
  display: flex;
}

#user-form #user-dob div > *:not(:last-child){
  margin-right: 0.5rem;
}

#user-form button {
  background-color: transparent;
  /* color: var(--green); */
  margin-bottom: 2rem;
  padding: 1rem;
  border: 2px solid var(--green);
  border-radius: 100px;
}

#user-form button:hover {
  color:var(--liteBlue);
  background-color: var(--green);
}